<header id="main-header">
    <div class="logo">
    <img [src]="logo" alt="Logotyp i form av ett hundben och texten Voff-truck" routerLink="/home">
    </div>
    <hr>
  <mat-toolbar>
    <div class="container">
      <nav>
        <a routerLink="/home" [routerLinkActive]="'active'">Startsida</a>
        <a routerLink="/booking" [routerLinkActive]="'active'">Utbud och bokning</a>
        <a routerLink="/about" [routerLinkActive]="'active'">Om oss</a>
      </nav>
    </div>
    </mat-toolbar>
  </header>
