mat-toolbar {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 4em;
    margin: 20px auto auto auto;
}
.container{
    z-index: 20;
    max-width: 20em;
    margin: 0 auto;
    button{
        margin: 2em;
    }
}
.active{
    font-weight: bold;
    text-decoration: underline !important;
}
nav{
    display: flex;
    column-gap: 1em;
    a{
        list-style-type: none;
        text-decoration: none;
        color: rgb(90, 70, 43);
        padding: 0.4em 0.6em;
        font-size: 0.8em;
    }
    a:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}
.logo{
    position: relative;
    max-width: 250px;
    height: 100%;
    margin: 25px auto -50px auto;
    z-index: 10;
}
.logo:hover{
    cursor: pointer;
}
hr{
    width: 100%;
    position: absolute;
    z-index: 1;
}