mat-toolbar {
    background-color: rgb(211, 93, 113);
    width: 100%;
    height: 4em;
    button:hover{
        background-color: white;
        color: rgb(211, 93, 113);
    }
}
.container{
    max-width: 20em;
    margin: 0 auto;
    button{
        margin: 2em;
    }
}
.logo{
    max-width: 350px;
    height: 100%;
    margin: -70px auto -120px auto;
}