
<div class="about">
<h1>Om oss</h1>
<p>Vi är ett företag som åker runt i Stockholm med våran foodtruck för att erbjuda hundar den godaste middagen. Vi är lyxmiddagen för hundarna när restaurangerna inte släpper in dem.</p>
<form>
    <h2>Vill du komma i kontakt med oss?</h2>
    <h4>Skicka ett meddelande nedan eller ring oss på: 08 123 123</h4>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" placeholder="Din email...">
    <label for="message">Meddelande:</label>
    <textarea name="message" id="message" rows="3" cols="20" placeholder="Skriv ditt meddelande här..."></textarea>
    <button type="submit" id="sendMsg">Skicka meddelande</button>
</form>
<img [src]="dog" alt="Bild på en gul labradorvalp" id="dog">
<button id="buyhere" routerLink="/booking">Beställ matkasse</button>
</div>