$brown-color: #5A462B;

@media screen and (min-width: 1200px){
    .home-start{
        width: 100vw;
        min-height: 600px;
        max-height: 600px;
        background-size: cover;
        background-position: top;
        margin-bottom: 1em;
    }
    .home-text{
        color: $brown-color;
        background-color: rgba($color: #ffffff, $alpha: 0.9);
        padding: 4em;
        border-radius: 20px;
        width: fit-content;
        transform: translateY(80%) translateX(45%);
        text-align: center;
        h2{
            font-size: 2em;
        }
        p{
            font-weight: 300;
        }
    }
    .second-text{
        background-color: #F8F0E3;
        padding: 1em 2.5em;
        color: $brown-color;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
        width: 60ch;
    }
}
@media screen and (min-width: 800px) and (max-width: 1199px){
    .home-start{
        width: 100vw;
        height: 500px;
        background-size: cover;
        background-position: top;
        margin-bottom: 1em;
    }
    .home-text{
        color: $brown-color;
        background-color: rgba($color: #ffffff, $alpha: 0.9);
        padding: 1em;
        border-radius: 20px;
        width: fit-content;
        transform: translateY(60%) translateX(17%);
        text-align: center;
        h2{
            font-size: 1.6em;
        }
        p{
            font-weight: 300;
        }
    }
    .second-text{
        background-color: #F8F0E3;
        padding: 1em 2.5em;
        margin: 0 auto;
        color: $brown-color;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        width: 50ch;
    }
}
@media screen and (max-width: 799px){
    .home-start{
        width: 100vw;
        height: 300px;
        background-size: cover;
        background-position: top;
        margin-bottom: 1em;
    }
    .home-text{
        color: $brown-color;
        background-color: rgba($color: #ffffff, $alpha: 0.9);
        padding: 0.7em;
        border-radius: 20px;
        width: fit-content;
        transform: translateY(80%) translateX(5%);
        text-align: center;
        h2{
            font-size: 1.1em;
        }
        p{
            width: 35ch;
            font-size: 0.9em;
            font-weight: 300;
        }
    }
    .second-text{
        width: 45ch;
        margin: 0 auto;
    }
    .second-text{
        background-color: #F8F0E3;
        padding: 1em 2.5em;
        color: $brown-color;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        width: 35ch;
    }
}
#map{
    width: 100%;
}
#map h3{
    width: fit-content;
    margin: 0 auto;
}
.open{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    color: $brown-color
}
