<div class="home-start" [ngStyle]="{ backgroundImage: 'url(' + homePic + ')'}">
    <div class="home-text">
        <h2>VOFF-TRUCK</h2>
        <p>Alldeles egen foodtruck med trerätters-middag till din hund</p>
    </div>
</div>

<section class="second-text">
    <p>Har du haft problem med att hunden inte får följa med in på finrestaurangen? Vi har lösningen, ta med din egna tre-rätters middag hem till hunden. Företaget består av en foodtruck som åker runt i Stockholm för att erbjuda din fyrbenta vän den bästa måltiden! Vi erbjuder olika mat-kassar i form av förrätt, varmrätt och efterrätt. Förboka via bokningssidan (se vart vi är för dagen på kartan nedan)!</p>
</section>