.allMenu{
    width: fit-content;
    padding: 1em 3em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    text-align: center;
}
.oneMeal{
    line-height: 0;
    margin-bottom: 3em;
}
h2{
    font-size: 1.7em;
    color: #5A462B;
    margin-bottom: 1em;
}
h3{
    text-decoration: underline;
    color: #95A284;
}
h4{
    color: #5A462B;
    font-weight: 500;
}
p{
    color: #C7B299;
    font-weight: 300;
}
.howTo{
    width: 50ch;
    margin: 0 auto;
    text-align: center;
    color: orange;
    list-style-type: none;
    border: 3px solid #95A284;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em 2em;
    h3{
        color: orange;
    }
}
.flex{
    display: flex;
    flex-direction: column;
}
form{
    width: fit-content;
    padding: 1em 14em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding-bottom: 2em;
    margin: 0 auto;
    text-align: center;
    background-color: #C7B299;
    h3{
        color: white;
        font-size: 1.5em;
    }
}
label{
    font-weight: 300;
}
.select{
    margin-bottom: 2em;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    height: 2em;
    padding: 0 30px 0 15px;
}
#pay.clicked{
    background-color: white;
    color: #7DC559;
}
#pay{
    margin-top: 2em;
    background-color: #5971c5;
    color: white;
    border: 1px solid white;
    padding: 1em 0.7em;
    width: fit-content;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}
button:hover{
    cursor: pointer;
}
input[type=text], input[type=tel]{
    height: 2em;
    border-radius: 8px;
    border: none;
    margin-bottom: 1.5em;
}
